<h1>New Review</h1>
<%= form_with(model: [@comment.place, @comment ]) do |form| %>
  <div class="field">
    <%= form.text :username %>
    <%= form.text_field :text %>
    <div class="c-rating c-rating--big" data-rating-value="<%= @comment.rating %>" >
      <button name="comment[rating]" value="1" data-action="click->review#setRating" data-target='ratingInput'>1</button>
      <button name="comment[rating]" value="2" data-action="click->review#setRating">2</button>
      <button name="comment[rating]" value="3" data-action="click->review#setRating">3</button>
      <button name="comment[rating]" value="4" data-action="click->review#setRating">4</button>
      <button name="comment[rating]" value="5" data-action="click->review#setRating">5</button>
    </div>
    <%= form.submit "Send" %>
  </div>
