<div class="container mt-4">
  <div class="row">
    <div class="col-lg-7 mt-5">
        <div class="card-show">
        <% if @place.photos.attached? %>
          <div class="d-flex align-items-center justify-content-center">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" style="height: 500px; object-fit: cover;">
                  <%= cl_image_tag(@place.photos[0].key, class:"d-block w-100") %>
                </div>
                <% @place.photos.drop(1).each do |photo| %>
                  <div class="carousel-item" style="height: 500px; object-fit: cover;">
                    <%= cl_image_tag(photo.key, class:"d-block w-100") %>
                  </div>
                <% end %>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        <% else %>
          <img src="https://source.unsplash.com/random">
        <% end %>
      </div>
    </div>
    <div class="col-lg-5 mt-5">
      <div class="card-show mb-3">
        <div style="width: 100%; height: 290px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
      <div class="card-infos">
          <div>
            <h2 class="mb-2"><%= @place.name %></h2>
            <h4 class="mb-1"><%= @place.address %> <i class="fa-solid fa-location-dot text-danger fs-5"></i></h4>
            <p><%= @place.description %></p>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7 mt-5">
      <div class="card-show">
        <p>just some thext</p>
      </div>
    </div>
    <div class="col-lg-5 mt-5">
      <div class="card-show mb-5">
        <div class="container mt-6" >
          <div class="form-inputs">
            <%= simple_form_for([@place, @comment]) do |f| %>
              <%= f.input :username %>
              <div class="star-rating">
                <% (1..5).to_a.each do |rating| %>
                  <%= f.hidden_field :rating %>
                  <%= label_tag "star#{rating}", '', class: 'star-label' %>
                  <%= f.radio_button :rating, rating, class: 'star', id: "star#{rating}" %>
                <% end %>
              </div>
              <%= f.input :text, label: 'Revisão', placeholder: 'Escreva a sua Revisão', as: :text, input_html: { rows: 5, cols: 50 } %>
              <%= f.submit class: "btn btn-success" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
              <%# <div class="star-rating">
      <label class="star-label" data-rating="1">★</label>
      <label class="star-label" data-rating="2">★</label>
      <label class="star-label" data-rating="3">★</label>
      <label class="star-label" data-rating="4">★</label>
      <label class="star-label" data-rating="5">★</label>
    </div> %>
<script>
// Get all star labels
const starLabels = document.querySelectorAll('.star-label');

// Add a click event listener to each star label
starLabels.forEach(starLabel => {
  starLabel.addEventListener('click', () => {
    // Remove the clicked class from all star labels
    starLabels.forEach(starLabel => {
      starLabel.classList.remove('clicked');
    });

    // Add the clicked class to the current star label
    starLabel.classList.add('clicked');
  });
});

</script>
      <%# <% if @spaceship.user != current_user %>
      <%# <div class="card-show mb-5">
        <div class="container mt-6" >
          <div class="form-inputs">
            <%= simple_form_for [@spaceship, @booking], data: { controller: 'flatpickr' }, html: { class: "smth" } do |f| %>
                <%# <div class="smoth"><%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %></div>
                <%# <div class="smoth"><%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %></div>
              <%# <div class="d-flex justify-content-between align-items-center mt-4">
                <div>
                  <%= render "shared/rocket_button" %>
                <%# </div>
              </div>
            <% end %>
          <%# </div>
        </div>
      </div>
      <% end %>
    <%# </div>
  </div>
</div> %>

<%# <style>
.smth {
  display: inline-flex; justify-content: space-evenly; place-items: center;
}

.smoth {
  margin: 10px
}
</style> %>
