<div class="container mt-4">
  <div class="row">
    <div class="col-lg-7 mt-5">
        <div class="card-show">
        <% if @place.photos.attached? %>
          <div class="d-flex align-items-center justify-content-center">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" style="height: 500px; object-fit: cover;">
                  <%= cl_image_tag(@place.photos[0].key, class:"d-block w-100") %>
                </div>
                <% @place.photos.drop(1).each do |photo| %>
                  <div class="carousel-item" style="height: 500px; object-fit: cover;">
                    <%= cl_image_tag(photo.key, class:"d-block w-100") %>
                  </div>
                <% end %>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        <% else %>
          <img src="https://source.unsplash.com/random">
        <% end %>
      </div>
    </div>
    <div class="col-lg-5 mt-5">
      <div class="card-show mb-3">
        <div style="width: 100%; height: 290px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
      <div class="card-infos">
          <div>
            <h2 class="mb-2"><%= @place.name %></h2>
            <h4 class="mb-1"><%= @place.address %> <i class="fa-solid fa-location-dot text-danger fs-5"></i></h4>
            <p><%= @place.description %></p>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7 mt-5">
      <div class="card-show">
        <p>just some thext</p>
      </div>
    </div>
    <div class="col-lg-5 mt-5">
      <div class="card-show mb-5">
        <div class="container mt-6" >
          
        </div>
      </div>
    </div>
  </div>
</div>

<script>
</script>

<!--
<div class="form-inputs">
  <%= simple_form_for([@place, @comment]) do |f| %>
    <%= f.input :username %>
    <%= f.input :text, label: 'Revisão', placeholder: 'Escreva a sua Revisão', as: :text, input_html: { rows: 5, cols: 50 } %>
    <div class="rating-holder" data-controller="review">
      <div class="c-rating c-rating--big" data-rating-value="<%= @comment.rating %>" >
        <button name="comment[rating]" value="1" data-action="click->review#setRating" data-target='ratingInput'>1</button>
        <button name="comment[rating]" value="2" data-action="click->review#setRating">2</button>
        <button name="comment[rating]" value="3" data-action="click->review#setRating">3</button>
        <button name="comment[rating]" value="4" data-action="click->review#setRating">4</button>
        <button name="comment[rating]" value="5" data-action="click->review#setRating">5</button>
      </div>
  <% end %>
</div>

-->
